* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

p {
  color: aliceblue;
  font-size: 2rem;
  text-align: center;
}

.bg {
  background-color: transparent;
}
.container-fluid {
  width: 100%;
}
.container {
  max-width: 1080px;
  width: 100%;
  margin: auto;
  padding: 32px;
  height: 50vh;
}
.center {
  text-align: center;
}
/*efecto parallax*/

.parallax {
  height: 500px;
  background-image: url("https://www.wallpaperuse.com/wallp/0-2405_m.jpg");
  background-size: cover;
  background-attachment: fixed;
}
