body {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
}
.navbar-brand {
  font-family: "Lobster", cursive;
  font-size: 30px;
}
.darkgray {
  background-color: #373a3c;
}
.carousel-indicators {
  top: 12rem;
}
.carousel-indicators [data-bs-target] {
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.hr-carousel {
  margin-top: 80px;
  height: 3px !important;
}
.lista {
  list-style-type: none;
}

@media screen and (max-width: 900px) {
  .carousel {
    display: none;
  }
}
